.footer{
    width: 100%;
    height: 250px;
    position: relative;
    background-color: black;
}

.footer >span{
    font-size: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}