.homePage{
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.homePage > h1{
    width: 100%;
    text-align: center;
}

.homePage > section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}